
.icon-minus:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-plus-1:before { content: '\e80d'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open-1:before { content: '\f006'; } /* '' */
.icon-left-open-1:before { content: '\f007'; } /* '' */
